@font-face {
  font-family: "latto";
  src: url(../fonts/vendor/lato/latto-Regular.ttf) ;
  font-weight: 400;
}
@font-face {
  font-family: "openSans";
  src:  url(../fonts/vendor/open-sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

.lato{
	font-family: "latto";

}
label {
    font-size: 0.8rem;
    color: #E91E63;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;  
}

.checkbox-morado[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #4b367c;
     background-color: #4b367c;
}

.opensans{
	font-family: "openSans";

}

.tinyModal { width: 50% !important ; height: 40% !important ; } 
.tinyModalEdit { width: 50% !important ; height: 40% !important ; } 

ul.dropdown-content.select-dropdown li span {
  color: #311f5f; /* no need for !important :) */
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent !important;
  color: #311f5f !important;
}
.tabs .tab a {
  color: rgba(75 , 54, 124, 0.7) !important;
}

nav{
	height: 50px !important;
    line-height: 50px !important;
    background: -webkit-linear-gradient(left, #311f5f 55%, #E91E63);
    background: -o-linear-gradient(left, #311f5f 55%, #E91E63);
    background: linear-gradient(to right, #311f5f 55%, #E91E63);
}

/*header, main, footer {
  padding-left: 200px;
}
*/
footer{
	background: -webkit-linear-gradient(left, #E91E63, #311f5f);
	background: -o-linear-gradient(left, #E91E63, #311f5f );
	background: linear-gradient(to right, #E91E63, #311f5f );
}
.navbar-fixed {
    height: 50px !important;
}
.side-nav{
	/*negro*/
	background: -webkit-linear-gradient(#19171c, black);
	background: -o-linear-gradient(#19171c, black);
	background: linear-gradient(#19171c, black);

	/*morado con el rosado*/
/*	background: -webkit-linear-gradient(#311f5f 60%, #E91E63);
	background: -o-linear-gradient(#311f5f 60%, #E91E63);
	background: linear-gradient(#311f5f 60%, #E91E63);*/

	/*width: 200px !important;*/
	top:50px;
	box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.side-nav li a{
	color: white;
}

.card{
	box-shadow: 3px 4px 13px 4px #888888;
}
.card:hover{
	box-shadow: 6px 8px 12px 4px #888888;
}

.card-mio {
	color: black;
	/*background: linear-gradient(#1c0b48 40%, black);*/
	border-top: 1px solid black;

	padding: 10px !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
 }

.pg-canvas {
	position: absolute;
}
#primer{
	width: 100%;
    /* background-color: blue; */
    height: 60vh;
    position: absolute;
    /*background: linear-gradient(196deg,#0d47a1,#42a5f5);*/
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}


.degradado{
	background: linear-gradient(to right, #E91E63,#311f5f);
 }


.waves-effect.waves-moradito .waves-ripple {
  background-color: rgba(76, 55, 125, 0.85);
}

.moradito{

      margin: auto;
	  background: #eee;
	  border: 3px solid transparent;
	  -moz-border-image: -moz-linear-gradient(top, #311f5f 0%, #E91E63 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #311f5f 0%, #E91E63 100%);
	  border-image: linear-gradient(to bottom, #311f5f 0%, #E91E63 100%);
	  border-image-slice: 1;
	}

.Wradius{
	border-radius: 20px;
    padding: 0 1em;
}
.btn-flat {
    padding: 0 1rem;
}
main {
	flex: 1 0 auto;
	background-color: #f5f0f0;
}

.tabs .indicator {
    background-color: #E91E63;
}

/* label color */
.input-field label {
 color: #311f5f;
}

.label-principal{
    color: #f5f0f0 !important;
}

/* label focus color */
.input-field input[type=text]:focus + .label-principal {
 color: #f5f0f0 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #311f5f !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #311f5f !important;
 box-shadow: 0 1px 0 0 #311f5f !important;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #4b367c !important;
 box-shadow: 0 1px 0 0 #4b367c !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #E91E63 !important;
 box-shadow: 0 1px 0 0 #E91E63 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #311f5f !important;
}


/* label focus color */
.input-field input[type=email]:focus + label {
 color: #311f5f !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #311f5f !important;
 box-shadow: 0 1px 0 0 #311f5f !important;
}
/* valid color */
.input-field input[type=email].valid {
 border-bottom: 1px solid #4b367c !important;
 box-shadow: 0 1px 0 0 #4b367c !important;
}
/* invalid color */
.input-field input[type=email].invalid {
 border-bottom: 1px solid #E91E63 !important;
 box-shadow: 0 1px 0 0 #E91E63 !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #311f5f !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #311f5f !important;
 box-shadow: 0 1px 0 0 #311f5f !important;
}
/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid #4b367c !important;
 box-shadow: 0 1px 0 0 #4b367c !important;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid #E91E63 !important;
 box-shadow: 0 1px 0 0 #E91E63 !important;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .tinyModal { width: 80% !important ; height: 70% !important ; } 

}@media only screen and (min-width: 601px){
	.navbar-fixed {
	    height: 50px;
	}	
  .tinyModal { width: 50% !important ; height: 53% !important ; } 
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #311f5f;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e91e63;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
</style>