@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Thin.woff2?1f35e6a11d27d2e10d28946d42332dc5) format("woff2"), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Thin.woff?44b78f142603eb69f593ed4002ed7a4a) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Light.woff2?3c37aa69cd77e6a53a067170fa8fe2e9) format("woff2"), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Light.woff?ea36cd9a0e9eee97012a67b8a4570d7b) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Regular.woff2?5136cbe62a63604402f2fedb97f246f8) format("woff2"), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Regular.woff?3cf6adf61054c328b1b0ddcd8f9ce24d) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Medium.woff2?1561b424aaef2f704bbd89155b3ce514) format("woff2"), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Medium.woff?cf4d60bc0b1d4b2314085919a00e1724) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Bold.woff2?c0f1e4a4fdfb8048c72e86aadb2a247d) format("woff2"), url(/fonts/vendor/materialize-css/dist/roboto/Roboto-Bold.woff?eed9aab5449cc9c8430d7d258108f602) format("woff");
  font-weight: 700;
}

body{
	font-family: "Roboto";
}

*:not(.modal), *:before, *:after {
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked,[type="radio"]:not(:checked), [type="radio"]:checked {
  position: unset;
  opacity: 1;
  pointer-events: none;
}

input:not([type]){
  border-bottom: none;
  height: 1rem;
}

select:not(.muereSlct){
  height: 1rem;
  display: unset;
}

.modal.modal-fixed-footer .modal-content, .modal .modal-footer {
  width: -webkit-fill-available;
  width: -moz-available;
}

div.geDialog > table > tbody > tr:nth-child(2) > td{
  text-align: center;
  padding-top: 5px !important;
}

div.geDialog > table > tbody > tr:nth-child(1) > td:nth-child(2) > input {
  margin: 0 0 4px;
}


.geSidebarContainer .geToolbarContainer {
    top: 0px !important;

}

body > div:nth-child(17) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3)